@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    height: 100%;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: var(--base);
    font-family: 'Rubik';
}

#root, .flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:root {
    --input-placeholder-color: var(--text-secondary);
    --form--elements_height: 34px;
    --form-elements-border-radius: 8px;
    --form-elements-border-color: #E6EBF4;
    --form-input-background-color: #F7F8FC;
    --form-elements-indent: 24px;
    --form-elements-error-color: #F0565A;
    --form-elements-disabled-border-color: #DDDDDD;
    --elements-hover-color: #1848BE;
    --elements-active-color: #4980e6;
    --buttons-hover-color: var(--blue-1);

    --base: #232832;
    --secondary: #B8C7E4;
    --red: #F0565A;
    --light-gray: #F7F8FC;
    --separator: #E6EBF4;
    --text-secondary: #98A5BC;
    --green: #3CE289;
    --orange: #FA9312;
    --notifications: #FAFBFF;
    --blue-1: #1C60E0;
    --light-blue: #8BD5FF;
    --blue-hover: #1848BE;
    --blue-4: #4980e6;
    --blue-5: #d2dff9;
    --white: #ffffff;
    --yellow: #FFB800;


}

.font-size-12 {
    font-size: 12px !important;
}
.font-size-10 {
    font-size: 10px !important;
}
